<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加商品</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/bootstrap-responsive.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style-metro.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style-responsive.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
    <link th:href="@{/css/uniform.default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/pagination.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-fileupload.css}"/>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
</head>

<body>
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header" style="text-align: center">
            <h2 th:text="${post.getPostTitle()}">标题</h2>
        </div>
        <hr/>
        <div style="text-align: center">
            <img style='display: block;height:300px;width:400px;' th:src="@{${post.getPostImage()}}"/>
        </div>

        <div class="layui-card-body" >
            <h3 th:text="${post.getPostInfo()}">帖子内容</h3>
        </div>
    </div>
</div>




</body>
</html>